@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&display=swap');

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #4d3032;
	font-family: 'Lato';
	font-weight: 400;
	color: #fafaea;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 32px;
}

.Container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	justify-items: center;
	background: #372324;
}

h1 {
	margin-top: 0;
	padding-top: 0.5em;
	text-align: center;
	letter-spacing: 2px;
}
