@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato:wght@100;300;400;700;900&display=swap');

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #4d3032;
	font-family: 'Lato';
	font-weight: 400;
	color: #fafaea;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	flex-wrap: nowrap;
	gap: 1em;
}

.Container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	justify-items: center;
	gap: 0.5em;
	width: 70vw;
}

.Country {
	border-radius: 12px;
	background: #372324;
	width: 100%;
	padding: 4px 12px;
	overflow: hidden;
	transition: height 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),
		background-color 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
	font-size: 28px;
	border: #1a1313 2px solid;
	&:hover {
		background: #3f2a2b;
	}
}

.ButtonIcon,
.HeaderDiv > span {
	color: #fafaea;
	align-self: center;
	justify-self: center;
	width: 32px;
	height: 32px;
	&:hover {
		cursor: pointer;
	}
}

.HeaderDiv {
	display: flex;
	justify-items: flex-start;
	align-items: center;
}

*:focus {
	outline: none;
}

.SearchBar {
	background: #372324;
	color: #fafaea;
	border: none;
	border: #1a1313 2px solid;
	border-radius: 12px;
	width: 90%;
	padding: 12px;
	font-size: 32px;
	font-family: 'Lato';
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	&:hover {
		background: #3f2a2b;
	}
	&::placeholder {
		color: #fafaeaa0;
	}
	transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

p {
	margin: 8px;
}

.countryName {
	font-weight: 700;
}

.Summary {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.score {
	font-weight: 400;
	& > span {
		font-weight: 700;
		color: #b1f0b1;
	}
}

.popUp {
	opacity: 0;
	font-size: 0;
	font-family: 'Lato';
	font-weight: 700;
	color: #fafaea;
	position: fixed;
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	padding: 8px 12px;
	border-radius: 12px;
	width: auto;
	height: auto;
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
		font-size 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	&.correct {
		background: #b1f0b1;
		color: #000000;
	}
	&.wrong {
		background: #ff6868;
		color: #000000;
	}
	&.alreadyFound {
		background: #161616;
	}
	&.alreadyGuessed {
		background: #161616;
	}
	&.visible {
		opacity: 1;
		font-size: 22px;
	}
}

h1 {
	margin-top: 0;
	padding-top: 0.5em;
	text-align: center;
	letter-spacing: 2px;
}
